* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    color: #001e4d;
    font-weight: 500px;
}

.hide {
    /* display: none; */
    visibility: hidden;
}

.show {
    visibility: visible;

}

body {
    background: #001e4d;
}

.input {
    width: 80%;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    /* border: 1px solid red; */
    margin: 50px auto;
    max-width: 600px;
}

.input input {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border: 0.2px solid black;
    color: black;
    border-radius: 8px;
}

.input button {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #001e4d;
    font-size: 12px;
    color: #fff;
}

.header {
    background: #fff;
    max-width: 600px;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding: 10px;
border-bottom: 1px solid #001e4d;
}

.headers {
    background: #fff;
    max-width: 600px;
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding: 10px;
border-bottom: 1px solid #001e4d;
}

.header span {
    font-size: 15px;
    color: #001e4d;
    font-weight: bold;
}

.body {
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 20px;
    list-style-position: inside;
    border-bottom: 1px solid #001e4d;

}

.body h3{
    font-size: 25px;
    padding-bottom: 30px;
}


.body ol li{

font-size: 17px;
background: #001e4d;
color: #fff;
padding: 10px;    
margin: 10px 0;
border-radius: 4px;
cursor: pointer;
}

.footer {
    background: #fff;
    max-width: 600px;
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    justify-content: space-around;
align-items: center;
}
